header#header
    h1= title
    button#refresh 재반영
    span &nbsp;수정한 개수:&nbsp;
        span#count ?
    script.
        (function () {
            document.getElementById('refresh').addEventListener('click', function (event) {
                $.post(
                    '/overwrite',
                    {},
                    function () {
                        location.reload();
                    }
                )
            });
        })();
