header#header
    h1= title
    //button#refresh 새로고침
    span 수정한 개수:
        |
        span#count ?
    script.
        (function () {
            document.getElementById('refresh').addEventListener('click', function (event) {
                $.post(
                    '/refresh',
                    {},
                    function () {

                    }
                )
            });
        })();
