extends layout

block layout-head
  link(rel='stylesheet', href='/stylesheets/style.css')

block layout-body
  section
    article.miu-hideScroll
      ul
        for x, y in piku
          li(class=`${(x.title.match(/[0-9]:[0-9]+/)) ? 'modified' : 'not'}` id=`${y}`)
            a(href=`#${y}`)= x.url
    article.yt
      div#info-box
        input#title(type="text" placeholder="제목" disabled)
        input#url(type="text" placeholder="영상 링크" disabled)
        div
          input#start(type="text" placeholder="시작" disabled)
          input#end(type="text" placeholder="끝" disabled)
      div#yt-box
        div#player
  script.
    var player;

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        width: '',
        height: '',
        videoId: '',
        playerVars: JSON.stringify({
          modestbranding: 1,
          autoplay: 1,
          rel: 0,
          enablejsapi: 1,
          version: 3,
          playerapiid: 'player',
          allowfullscreen: 'true',
          wmode: 'transparent',
          iv_load_policy: 3,
          html5: 1,
          widgetid: 1,
          playsinline: 1,
        }),
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      event.target.playVideo();
    }

    function onPlayerStateChange(event) {}

    (function () {
      document.getElementsByClassName('miu-hideScroll')[0].scrollTo({
        top: document.getElementsByClassName('not')[0].offsetTop - 200,
      })

      function youtube_parser(url) {
        const regExp = /^.*(youtu\.be\/|vi?\/|u\/\w\/|embed\/|\?vi?=|&vi?=)([^#&?]*).*/;
        const match = url.match(regExp);
        return (match && match[2].length === 11) ? match[2] : false;
      }

      window.addEventListener('hashchange', async function () {
        const id = location.hash.substring(1);
        let start;
        $.get('/db/' + id, {}, async function (data) {
          document.getElementById('title').value = data.title;
          document.getElementById('url').value = 'https://www.youtube.com/watch?v=' + data.url;
          document.getElementById('start').value = data.start;
          document.getElementById('end').value = data.end;
          await player.loadVideoById(data.url, parseInt(data.start), 'large')
          await player.playVideo();
        });
      });

      document.getElementById('count').innerText = document.getElementsByClassName('modified').length;
    })();
  script(src="https://www.youtube.com/iframe_api")
