.miu-hoverB {
  transition: transform 0.3s;
}
.miu-hoverB:hover {
  transform: scale(1.15);
}
.miu-hidden {
  display: none !important;
}
.miu-hideScroll {
  overflow: scroll;
  -ms-overflow-style: none;
}
.miu-hideScroll::-webkit-scrollbar {
  display: none;
}
.miu-error {
  border: 1px solid #eb2e2e !important;
}
.miu-invertX {
  transform: scaleX(-1);
}
.miu-invertY {
  transform: scaleY(-1);
}
.miu-bdrs {
  -webkit-border-radius: 140317180628px;
  -moz-border-radius: 140317180628px;
  border-radius: 140317180628px;
}
i.miu-x {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border-color: #646464;
  cursor: pointer;
  background-color: transparent;
}
i.miu-x::before,
i.miu-x::after {
  position: absolute;
  content: ' ';
  height: 115%;
  top: -2px;
  left: 50%;
  border: 1px solid #646464;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
i.miu-x::before {
  transform: rotate(45deg);
}
i.miu-x::after {
  transform: rotate(-45deg);
}
@-moz-keyframes miu-bounceD {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-webkit-keyframes miu-bounceD {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-o-keyframes miu-bounceD {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@keyframes miu-bounceD {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-moz-keyframes miu-bounceB {
  0% {
    bottom: 30px;
  }
  25% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-webkit-keyframes miu-bounceB {
  0% {
    bottom: 30px;
  }
  25% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-o-keyframes miu-bounceB {
  0% {
    bottom: 30px;
  }
  25% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@keyframes miu-bounceB {
  0% {
    bottom: 30px;
  }
  25% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@-moz-keyframes miu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes miu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes miu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes miu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes miu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes miu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes miu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes miu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
