body
  padding: 20px
  height: 100vh
  display: flex;
  flex-direction: column;

section
  display: flex;
  width: 100%
  height: calc(100% - 72px)

  article.miu-hideScroll
    width: 180px
    height: 100%
    padding: 10px
    border: 1px solid #273869
    li
      text-align: center;
      &.modified
        color: #20AD20
      &:hover
        background-color: #eeeeee
      a
        display: inline-block;
        width: 100%
        height: 2rem
        line-height: 2rem
  article.yt
    width: calc(100% - 180px)
    height: 100%
    display: flex;
    & > *
      width: 100%
      position: relative;
      &#info-box
        height: 100%
        padding: 20px
        #no
          opacity: .8
          margin-bottom: 10px
        input
          width: 100%
          height: 3rem
          line-height: 3rem
          font-size: 1.5rem
          padding: .5rem
          border: 1px solid #273869
          margin-bottom: 20px
          &#start
          &#end
            width: 50%

      &#yt-box
        height: 0
        padding-bottom: 56.25% * 0.5
        margin-top: 20px
        iframe
          width: 100%
          height: 100%
          position: absolute;
          top: 0
          bottom: 0
          left: 0
          right: 0
          border: 0
@media (max-width TABLET_RESPONSIVE * 1.3)
  section
    article.yt
      padding: 20px
      flex-direction: column;
      & > *
        &#info-box
          order 180628
          padding: 0
          margin-top: 20px
        &#yt-box
          margin: 0
          padding-bottom: 56.25%
          order 140317
